<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student performance</title>
</head>
<body>
<form action="#" th:action="@{/student/student-update}" th:object="${student}" method = "post">

    <table>
        <tr>
            <td><label for="idStudent">ID</label></td>
            <td> <input type = "text" th:field="*{idStudent}" id="idStudent" placeholder="ID"></td>
            <td th:errors="*{idStudent}" th:if="${#fields.hasErrors('idStudent')}"></td>
        </tr>
        <tr>
            <td><label for="nameStudent">Full name</label></td>
            <td> <input type = "text" th:field="*{nameStudent}" id="nameStudent" placeholder="Name"></td>
            <td th:errors="*{nameStudent}" th:if="${#fields.hasErrors('nameStudent')}"></td>
        </tr>

        <tr>
            <td><label >Group</label></td>
            <td>
                <select id="group" name="group" th:field="*{group}">>
                    <option th:each="group : ${allGroups}"
                            th:text="${group.nameGroup}"
                            th:value="${group.idGroup}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="bDayStudent">Birthday</label></td>
            <td> <input type = "text" th:field="*{bDayStudent}" id="bDayStudent"  placeholder="Birthday"></td>
            <td th:errors="*{bDayStudent}" th:if="${#fields.hasErrors('bDayStudent')}"></td>
        </tr>

        <tr>
            <td><label for="cityStudent">City</label></td>
            <td> <input type = "text" th:field="*{cityStudent}" id="cityStudent" placeholder="City"></td>
            <td th:errors="*{cityStudent}" th:if="${#fields.hasErrors('cityStudent')}"></td>
        </tr>

        <tr>
            <td><label for="cashStudent">Scholarship</label></td>
            <td> <input type = "text" th:field="*{cashStudent}" id="cashStudent" placeholder="Scholarship"></td>
            <td th:errors="*{cashStudent}" th:if="${#fields.hasErrors('cashStudent')}"></td>
        </tr>


    </table>

    <input type="submit" value="Update student">
    <p><input type="button" value="Cancel" onclick="window.location.href='/students'"/></p>
    <p><input type="button" value="Back in menu" onclick="window.location.href='/main'"/></p>

</form>
</body>
</html>