<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student performance</title>
</head>
<body>
<form action="#" th:action="@{/group/group-update}" th:object="${group}" method = "post">
    <table>

        <tr>
            <td><label for="idGroup">ID</label></td>
            <td> <input type = "text" th:field="*{idGroup}" id="idGroup" placeholder="ID"></td>
            <td th:errors="*{idGroup}" th:if="${#fields.hasErrors('idGroup')}"></td>
        </tr>
        <tr>
            <td><label for="nameGroup">Group name</label></td>
            <td> <input type = "text" th:field="*{nameGroup}" id="nameGroup" placeholder="Name"></td>
            <td th:errors="*{nameGroup}" th:if="${#fields.hasErrors('nameGroup')}"></td>
        </tr>


        <tr>
            <td><label for="created">Date of creation</label></td>
            <td> <input type = "text" th:field="*{created}" id="created"  placeholder="Date of creation"></td>
            <td th:errors="*{created}" th:if="${#fields.hasErrors('created')}"></td>
        </tr>

        <tr>
            <td><label for="countStud">Amount of students</label></td>
            <td> <input type = "text" th:field="*{countStud}" id="countStud" placeholder="Amount"></td>
            <td th:errors="*{countStud}" th:if="${#fields.hasErrors('countStud')}"></td>
        </tr>

    </table>

    <input type="submit" value="Update a group">
    <p><input type="button" value="Cancel" onclick="window.location.href='/groups'"/></p>
    <p><input type="button" value="Back in menu" onclick="window.location.href='/main'"/></p>

</form>
</body>
</html>