<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student performance</title>
</head>
<body>
<h1>Меню</h1>
<p><input type="button" value="Все студенты" onclick="window.location.href='/student'"/></p>
<p><input type="button" value="Все дисциплины" onclick="window.location.href='/discipline'"/></p>
<p><input type="button" value="Все группы" onclick="window.location.href='/group'"/></p>
<p><input type="button" value="Все оценки" onclick="window.location.href='/mark'"/></p>
</body>
</html>